.carhartt {
  display: flex;
  justify-content: space-between;

  &__wrap {
    min-height: 100vh;
    max-height: 100%;
    color: white;
  }

  &__img-wrap {
    width: 33%;
  }

  &__img {
    width: 100%;
  }
}
