*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  background-color: rgba($color: #000000, $alpha: 0.4);
  text-transform: uppercase;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: rgba($color: #fff, $alpha: 0.5);
  &:hover {
    color: white;
  }
}

.app {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.header {
  width: 30rem;
  height: 100vh;
  position: fixed;
  top: 0;
  // background-color: rgba($color: #000, $alpha: 0.4);
}

.main {
  margin-left: 30rem;
  width: 85%;
}

.videoBackground {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.img-tag {
  color: rgba($color: red, $alpha: 0.7);
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.img-tag--lower {
  top: 80px;
}

.bio-text {
  margin-bottom: 1.6rem;
  line-height: 3.6rem;
  color: rgba($color: yellow, $alpha: 0.7);
  font-size: 2.4rem;
}
