.stussy {
  display: flex;
  width: 100%;

  &__wrap {
    background-color: rgba($color: #000000, $alpha: 0.2);
    height: 100vh;
    color: white;
  }

  &__video {
    position: relative;
  }

  &__text {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    color: rgba($color: blue, $alpha: 0.5);
    position: absolute;
    top: 10px;
    left: 10px;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1.6rem;
  margin-right: 2.4rem;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
