.management {
  height: 100vh;
  color: white;
  background-color: rgba($color: red, $alpha: 0.7);

  &__main {
    display: flex;
  }

  &__img-wrap {
    width: 50%;
    position: relative;
  }

  &__img {
    width: 100%;
  }
}
