.dsm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__wrap {
    height: 100vh;
    color: white;
  }

  &__img-wrap {
    width: 45%;
    padding-top: 1.6rem;
    padding-right: 1.6rem;
  }
  &__img {
    width: 100%;
  }
}
